# ---> R
# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# Package build artefacts
*.tar.gz
*.Rcheck/
src/*.o
src/*.so
src/*.dll

# renv
renv/library/
renv/staging/
renv/sandbox/

# Local data
dati/
xlsx/

# targets pipeline store
_targets/

